@use '../../styles/partials/colors' as *;

.header{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {

        font-size:1.5rem;
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF ;
        animation: neon1 alternate infinite 5s;
        will-change: opacity;
    }
}
.dev-btn {
    display: flex;
    position: absolute;
    right: 30px;
    height: 40px;
    width: 40px;
    top: 10px;
}

.dev-img{
    height: 30px;
    width: 50px;
    fill: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    transition: all 0.3s ease-in-out;
    &:hover{
        cursor: pointer;
        height: 35px;
    }
}


@keyframes neon1 {
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0.6;
    }
}